.gallows-0 {
	background: url('gallows.png') no-repeat -10px -7px;
	width: 82px; 
	height: 108px;
}
.gallows-1 {
	background: url('gallows.png') no-repeat -133px -9px;
	width: 82px; 
	height: 108px;
}
.gallows-2 {
	background: url('gallows.png') no-repeat -251px -10px;
	width: 82px; 
	height: 108px;
}
.gallows-3 {
	background: url('gallows.png') no-repeat -359px -12px;
	width: 82px;
	height: 108px;
}
.gallows-4 {
	background: url('gallows.png') no-repeat -471px -13px;
	width: 82px;
	height: 108px;
}
.gallows-5 {
	background: url('gallows.png') no-repeat -13px -147px;
	width: 82px;
	height: 108px;
}
.gallows-6 {
	background: url('gallows.png') no-repeat -137px -148px;
	width: 82px;
	height: 108px;
}
.gallows-7 {
	background: url('gallows.png') no-repeat -256px -149px;
	width: 82px;
	height: 108px;
}
