.gallows-0 {
	background: url('gallows-ad.png') no-repeat 0 0;
	width: 95px;
	height: 124px;
}
.gallows-1 {
	background: url('gallows-ad.png') no-repeat -96px 0;
	width: 95px;
	height: 124px;
}
.gallows-2 {
	background: url('gallows-ad.png') no-repeat -192px 0;
	width: 95px;
	height: 124px;
}
.gallows-3 {
	background: url('gallows-ad.png') no-repeat -288px 0;
	width: 95px;
	height: 124px;
}
.gallows-4 {
	background: url('gallows-ad.png') no-repeat -384px 0;
	width: 95px;
	height: 124px;
}
.gallows-5 {
	background: url('gallows-ad.png') no-repeat -480px 0;
	width: 95px;
	height: 124px;
}
.gallows-6 {
	background: url('gallows-ad.png') no-repeat -576px 0;
	width: 95px;
	height: 124px;
}
.gallows-7 {
	background: url('gallows-ad.png') no-repeat -672px 0;
	width: 95px;
	height: 124px;
}
